
<br><br><br>
<div style="float: left;">
    <label for="searchTerm"> Search Term</label>
    <input type="text" class="form-control" id="searchTerm" [(ngModel)]="serachTerm" 
    (ngModelChange)="filteredUsers()">
</div>
<button type="button" style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Create
  </button>
  <br><br><br>

<div class="container mt-4">
    <h2>User List</h2>
    <table class="table table-bordered table-stripped">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of myusers">

                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.status}}</td>
                <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="editUser(user)"> Edit</button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal2" (click)="confirmDelete(user)"> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>



<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel" style="text-align: center;">Create user</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userForm">
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" formControlName="firstname" required>
            </div>

            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" formControlName="lastname" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" formControlName="email" required>
            </div>

            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" formControlName="phone" required>
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <select name="" class="form-control" id="status" formControlName="status" required>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveUser()">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Delete modal -->

  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel2" style="text-align: center;">Delete user</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <h3>Are You Sure Want to Delete this {{userForm.value.firstname}}</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="deleteUser()">Delete</button>
        </div>
      </div>
    </div>
  </div>
